themes {
  kanagawa-paper-ink {
    foreground "#DCD7BA"

    text_unselected {
      base "#DCD7BA"
      background "#1F1F28"
      emphasis_0 "#c4746e"
      emphasis_1 "#435965"
      emphasis_2 "#699469"
      emphasis_3 "#a292a3"
    }

    text_selected {
      base "#9e9b93"
      background "#363646"
      emphasis_0 "#cc928e"
      emphasis_1 "#698a9b"
      emphasis_2 "#72a072"
      emphasis_3 "#b4a7b5"
    }

    ribbon_selected {
      base "#1F1F28"
      background "#c4b28a"
      emphasis_0 "#c4746e"
      emphasis_1 "#435965"
      emphasis_2 "#a292a3"
      emphasis_3 "#8ea49e"
    }

		ribbon_unselected {
			base "#1F1F28"
			background "#393836"
			emphasis_0 "#c4746e"
			emphasis_1 "#393836"
			emphasis_2 "#699469"
			emphasis_3 "#698a9b"
		}

    table_title {
      base "#699469"
      background "#363646"
      emphasis_0 "#c4746e"
      emphasis_1 "#435965"
      emphasis_2 "#c4b28a"
      emphasis_3 "#a292a3"
    }

    table_cell_selected {
      base "#9e9b93"
      background "#363646"
      emphasis_0 "#cc928e"
      emphasis_1 "#698a9b"
      emphasis_2 "#72a072"
      emphasis_3 "#b4a7b5"
    }

    table_cell_unselected {
      base "#DCD7BA"
      background "#1F1F28"
      emphasis_0 "#c4746e"
      emphasis_1 "#435965"
      emphasis_2 "#699469"
      emphasis_3 "#a292a3"
    }

    list_selected {
      base "#9e9b93"
      background "#363646"
      emphasis_0 "#cc928e"
      emphasis_1 "#698a9b"
      emphasis_2 "#72a072"
      emphasis_3 "#b4a7b5"
    }

    list_unselected {
      base "#DCD7BA"
      background "#1F1F28"
      emphasis_0 "#c4746e"
      emphasis_1 "#435965"
      emphasis_2 "#699469"
      emphasis_3 "#a292a3"
    }

    frame_selected {
      base "#699469"
      background "#1F1F28"
      emphasis_0 "#c4746e"
      emphasis_1 "#c4b28a"
      emphasis_2 "#8ea49e"
      emphasis_3 "#698a9b"
    }

    frame_highlight {
      base "#c4746e"
      background "#1F1F28"
      emphasis_0 "#a292a3"
      emphasis_1 "#c4b28a"
      emphasis_2 "#8ea49e"
      emphasis_3 "#698a9b"
    }

    frame_unselected {
      base "#aca9a4"
      background "#1F1F28"
      emphasis_0 "#cc928e"
      emphasis_1 "#c4b28a"
      emphasis_2 "#8ea49e"
      emphasis_3 "#a292a3"
    }

    exit_code_success {
      base "#699469"
      background "#1F1F28"
      emphasis_0 "#8ea49e"
      emphasis_1 "#1F1F28"
      emphasis_2 "#a292a3"
      emphasis_3 "#698a9b"
    }

    exit_code_error {
      base "#c4746e"
      background "#1F1F28"
      emphasis_0 "#cc928e"
      emphasis_1 "#000000"
      emphasis_2 "#000000"
      emphasis_3 "#000000"
    }

    multiplayer_user_colors {
      player_1 "#a292a3"
      player_2 "#698a9b"
      player_3 "#8ea49e"
      player_4 "#c4746e"
      player_5 "#699469"
      player_6 "#b4a7b5"
      player_7 "#cc928e"
      player_8 "#c4b28a"
      player_9 "#96ada7"
      player_10 "#435965"
    }
  }
  kanagawa-paper-canvas {
    foreground "#758380"

    text_unselected {
      base "#758380"
      background "#e1e1de"
      emphasis_0 "#c27672"
      emphasis_1 "#809ba7"
      emphasis_2 "#7b958e"
      emphasis_3 "#9e7e98"
    }

    text_selected {
      base "#8e8a80"
      background "#d4cdd4"
      emphasis_0 "#c68582"
      emphasis_1 "#91b0bd"
      emphasis_2 "#84a098"
      emphasis_3 "#a989a3"
    }

    ribbon_selected {
      base "#e1e1de"
      background "#84a098"
      emphasis_0 "#c27672"
      emphasis_1 "#809ba7"
      emphasis_2 "#9e7e98"
      emphasis_3 "#7b958e"
    }

    ribbon_unselected {
      base "#99958a"
      background "#d4cdd4"
      emphasis_0 "#c27672"
      emphasis_1 "#b7b7a9"
      emphasis_2 "#7b958e"
      emphasis_3 "#9e7e98"
    }

    table_title {
      base "#7b958e"
      background "#8e8a80"
      emphasis_0 "#c27672"
      emphasis_1 "#809ba7"
      emphasis_2 "#a7956a"
      emphasis_3 "#9e7e98"
    }

    table_cell_selected {
      base "#8e8a80"
      background "#d4cdd4"
      emphasis_0 "#c68582"
      emphasis_1 "#91b0bd"
      emphasis_2 "#84a098"
      emphasis_3 "#a989a3"
    }

    table_cell_unselected {
      base "#758380"
      background "#e1e1de"
      emphasis_0 "#c27672"
      emphasis_1 "#809ba7"
      emphasis_2 "#7b958e"
      emphasis_3 "#9e7e98"
    }

    list_selected {
      base "#8e8a80"
      background "#d4cdd4"
      emphasis_0 "#c68582"
      emphasis_1 "#91b0bd"
      emphasis_2 "#84a098"
      emphasis_3 "#a989a3"
    }

    list_unselected {
      base "#758380"
      background "#e1e1de"
      emphasis_0 "#c27672"
      emphasis_1 "#809ba7"
      emphasis_2 "#7b958e"
      emphasis_3 "#9e7e98"
    }

    frame_selected {
      base "#7b958e"
      background "#e1e1de"
      emphasis_0 "#c27672"
      emphasis_1 "#b29f71"
      emphasis_2 "#7e8faf"
      emphasis_3 "#000000"
    }

    frame_highlight {
      base "#c68582"
      background "#e1e1de"
      emphasis_0 "#c27672"
      emphasis_1 "#a989a3"
      emphasis_2 "#7e8faf"
      emphasis_3 "#91b0bd"
    }

    frame_unselected {
      base "#b7b7a9"
      background "#e1e1de"
      emphasis_0 "#c68582"
      emphasis_1 "#b29f71"
      emphasis_2 "#a989a3"
      emphasis_3 "#000000"
    }

    exit_code_success {
      base "#84a098"
      background "#e1e1de"
      emphasis_0 "#7e8faf"
      emphasis_1 "#e1e1de"
      emphasis_2 "#a989a3"
      emphasis_3 "#91b0bd"
    }

    exit_code_error {
      base "#c27672"
      background "#e1e1de"
      emphasis_0 "#c68582"
      emphasis_1 "#000000"
      emphasis_2 "#000000"
      emphasis_3 "#000000"
    }

    multiplayer_user_colors {
      player_1 "#a989a3"
      player_2 "#91b0bd"
      player_3 "#8a9ab8"
      player_4 "#c27672"
      player_5 "#7b958e"
      player_6 "#9e7e98"
      player_7 "#c68582"
      player_8 "#b29f71"
      player_9 "#7e8faf"
      player_10 "#809ba7"
    }
  }
}

